
body { 
	display: grid;
	grid-template-areas: 
		"header header header"
		"nav article ads"
		"footer footer footer";
	grid-template-rows: 125px 1fr 70px;  
	grid-template-columns: 20% 1fr 15%;
	height: 100vh;
	margin: 0;
}

img {
	float:right;
}

header, footer, article, nav, div {
	padding: 1.2em;
	background: gold;
}

#siteHeader {
	grid-area: header;
}

#siteFooter {
	grid-area: footer;
}

#siteMain {
	grid-area: article;      
}

#siteMain { 
	grid-area: nav; 
}

#siteAds { 
	grid-area: ads; 
}

label {
text-align: right;
}

.left {
	width:30%
	float: left;
	text-justify:right;
}

.right {
	width:65%
	float: left;
	margin-left: 10px;
}
 
div.dropdown-vert {
	position:relative;
	width:200px;
}
	 
div.dropdown-vert ul {
    list-style: none;
    background-color:gold;
    font-size:20px;
}
	 
div.dropdown-vert li {
    position:relative;
    border:2px solid black;
}
	 
div.dropdown-vert a { 
    display:block;
    text-decoration:none;
    padding:10px;
    color:white;
}
	
div.dropdown-vert li:hover > a {
    background:white;
    color:black;
}
	 
div.dropdown-vert ul ul {
    position:absolute;
    top:0;
    width:100%;
    visibility:hidden;
}
	 
div.dropdown-vert li:hover > ul {
    left:100%;
    visibility:visible;
}
